<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaeB1ospfCsQOrzvnCvQ6_gF4ZfVrqswY</string>
	<key>GCM_SENDER_ID</key>
	<string>274453927525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imago</string>
	<key>PROJECT_ID</key>
	<string>imago-7f0a9</string>
	<key>STORAGE_BUCKET</key>
	<string>imago-7f0a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274453927525:ios:e51dfe087c89a70e39188c</string>
</dict>
</plist>